---
---

html, body {
   height: 100%;
   font-family: avenir, Arial, Helvetica, sans-serif;
}


/*
--------------
Banner
--------------
*/


#banner_wrap{
   position:relative;
   top: 10px;
   left:10px;
   width:100%;
   height:auto;
   background-position:center;
   z-index:-1;
}

#banner{
   position: relative;
   top: -10px;
   left: -20px;
}


#inner_banner{
   position:relative;
   left:10px;
}

h1 {
   font-size: 150%;
   text-align: left;
   color: black;
   position:relative;
   width:90%;
   margin-bottom: 8px;
   margin-top:0px;
   }

  p.banner{
      margin-top: 0px;
      font-size:70%;
      color: #99caff;
  }

img.banner_image{
    max-width: 25%;
    float: right;
    position:relative;
    margin-right:30px;
    top:-10px;
}

/*
--------------
Body
--------------
*/

body {
   background-color: white;
   font-size: 24px;
   margin:30px;
   max-width:960px;
   margin-left:auto;
   margin-right:auto;
}

p {
   font-size: 80%;
   color: #1d3b77;
   margin:5spx;
}

p.large_font{
   font-size:100%;
   line-height:28px;
   }

h2, h3 {
   color:#142953;
   line-height:30px;
   margin-top:5px;
   margin-bottom:1px;
}

ol.order_list{
   font-size: 100%;
   color: #142953;
}

/* Change background colour of pages with code to white because
figures are transparent*/

.reference{
   color:#0482EE;
}

.reference em{
   font-style:italic;

}

code {
 font-family:"Courier new", Courier, "Andale Mono", monospace;
 background-color:#EAEEEF;
 font-size:70%;
 position:relative;
 line-height:15px;
}

code.inline {
 background-color:#EAEEEF;
 font-size:100%;
 border-color:#cad4d6;
 border:solid;
 width:100%;
 border-width:0.2px;
}

pre{
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */

}

pre.r {
 position:relative;
 background-color:#EAEEEF;
 border-color:#cad4d6;
 border:solid;
 padding:5px;
 width:97%;
 border-width:0.2px;
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre.image_under{
  width:50%  /* for when pre overlaps an image */
}

.code_box{
   position:relative;
   width:80%;
   background-color:#EAEEEF;
   margin:0;
padding:0;
 border-color:#cad4d6;
 border:solid;
 border-width:0.2px;
}

#toc {

}

/*
--------------
Generic links
--------------
*/

a {
   text-decoration: none;
   color: #0482EE;
}

a:hover {
   color: #f6561b;

}

/*
--------------
images
--------------
*/

img{
   max-width:300px;
   width:auto;
   }

img.image_normal{
    max-width:300px;
    width:auto;
}

img.image_people{
    width:60%;

}


img.image_float{
   max-width:100%;
   width:auto;
}

img.image_long{
    max-width:100%;
    width:auto;
}

img.image_float_wide{
    max-width:100%;
    width:auto;
}

div.image_caption{
    max-width:100%;
    width:auto;
     padding:10px;
     font-size:90%;
     font-style:italic;
     padding: 10px;
     padding-bottom: 5px;
     margin: 10px;
}

div.image_caption_wide{
    ax-width:100%;
    width:auto;
     padding:10px;
     font-size:90%;
     font-style:italic;
     padding: 10px;
     padding-bottom: 5px;
     margin: 10px;
}

div.image_caption_ppl{
    width:95%;
     height:auto;
     padding:0px;
     font-size:100%;
     padding-bottom: 40px;
     margin: 0px;
}

div.image_caption_long{
    max-width: 100%;
    width:auto;
     height:auto;
     padding:10px;
     font-size:90%;
     font-style:italic;
     padding: 10px;
     padding-bottom: 5px;
     margin: 10px;
}

div.image_caption_fixed{
    max-width: 100%;
    width:auto;
     height:auto;
     padding:10px;
     font-size:90%;
     font-style:italic;
     padding: 10px;
     padding-bottom: 5px;
     margin: 10px;
}

/*
--------------
Clickable div
--------------
*/

h3.posts_dates{
    color:#FFFFFF;
    background-color: #C0C0C0;
    width: 30%;
    line-height:25px;
    font-size: 70%;
}

h3.posts_titles{
    color:#142953;
    line-height:25px;
    font-size: 90%;
}

.emptyspan{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;
}


div.posts_boxes{
    max-width:95%;
    width:auto;
     padding:10px;
     font-size:90%;
     border-style: solid;
     position:relative;
     margin:2px;
     border-width: 1px;
     border-color: #D3D3D3;
     background: #ECFAFE;
     line-height: 5px;
    background-image: -webkit-linear-gradient(top, #FFFFFF, #e7f8fd);
    background-image: -moz-linear-gradient(top, #FFFFFF, #e7f8fd);
    background-image: -ms-linear-gradient(top, #FFFFFF, #e7f8fd);
    background-image: -o-linear-gradient(top, #FFFFFF, #e7f8fd);
    background-image: linear-gradient(to bottom, #FFFFFF, #e7f8fd);
}

div.floatclear{
    clear:both;
}

div:hover.posts_boxes{
    border-color:  #f6561b;
}

ul.postlist{
  font-size:100%;
  list-style-type: circle;
}

ul.postlist_main{
  font-size:100%;
  list-style-type: circle;
  padding-left:3px;
}


div.image_projpage{
    max-width:95%;
    width:auto;
     padding:10px;
     font-size:90%;
     border-style: solid;
     position:relative;
     margin:5px;
     border-radius: 25px;
     border-width: 1px;
     border-color: #D3D3D3;
     background: #ECFAFE;
    background-image: -webkit-linear-gradient(top, #FFFFFF, #e7f8fd);
    background-image: -moz-linear-gradient(top, #FFFFFF, #e7f8fd);
    background-image: -ms-linear-gradient(top, #FFFFFF, #e7f8fd);
    background-image: -o-linear-gradient(top, #FFFFFF, #e7f8fd);
    background-image: linear-gradient(to bottom, #FFFFFF, #e7f8fd);
}

img.box_image{
    max-width: 150px;
}

div:hover.image_projpage{
    border-color:  #f6561b;
}

p.clickablediv{
    font-weight: bolder;
    font-size: 105%;

}

/*
--------------
Navigation bar
--------------
*/

ul.menu{
  list-style-type: none;
   margin: 0px;
   padding: 5px;
   left:0%;
   position:relative;
   width:95%;
   background-color: #e7f8fd;
}

li.menu_item{
   border-style:solid;
   border-color: #D3D3D3;
   display:inline;
   padding: 3px;
   margin: 1px;
   font-size:60%;
   line-height:20px;
   text-align:center;
   border-width:2px;
   width:100px;
   background-color: white;
   color:black;
}

li:hover.menu_item{
    border-color:#f6561b;
}

/*
--------------
Footer
--------------
*/

#footer {
   background-color:#F9FDFF;
   padding-top:0px;
   padding-left:1px;
   padding-right:1px;
   padding-bottom:2px;
   border-radius: 20px;
   margin:20px;
   margin-bottom:50px;
   font-size:80%;
   position:relative;
   top:50px;
   text-align: center;
}

#footer_text{
  position:relative;
  top:15px;
}



/*
--------------
Layout for home page
--------------
*/

#Research {
   line-height:25px;
   height:100%;
   padding:5px;
   margin-top:20px;
   padding-right:20px;
}

#Modelling {
   line-height:25px;
   height:100%;
   padding-right:0;
   margin-right:0;
   border-right:0;
   margin-top:20px;
   margin-bottom:20px;
}

#Affiliation {
   clear:both;
   line-height:20px;
   width:95%;
   padding-left:20px;
   padding-right:0;
   padding-top:20px;
   margin-right:0;
   border-right:0;
   border-top:solid;
   margin-top:5px;
   margin-bottom:5px;
   border-color: #6176A0;
}

.posts, .posts_main, .posts_blog{
   clear:both;
   text-align:left;
   margin-top:50px;
   padding:20px;
   border-style:solid;
   border-color:#f6561b;
   border-radius:20px;
}

.posts_blog{
    border-style:none;
}

.posts_main{
    width:80%;
}


.posts_header{
  margin:0;
}


/*
--------------
Layout normal
--------------
*/
#page_text {
   line-height:30px;
   height:100%;
   width:98%;
   padding-left:5px;
   padding-right:0;
   margin-right:0;
   margin-top:20px;
}
