---
layout: default
title: Code
sitemap:
    priority: 0.7
    changefreq: 'monthly'
    lastmod: 2020-06-24
---

<h1>Code</h1>

<h2>Popular R resources</h2>


<ul class="list-cards">
  <li class="r-resources"><a class="card-pubs" href="http://www.seascapemodels.org/RLS-data-prep-course/" target="_blank">
      <h4>Cleaning ecological survey data for conservation scientists</h4>
      <hr>
      <p>A short course in the tidyverse, graphing and basic summary stats</p>
  </a></li>
  <li class="r-resources"><a class="card-pubs" href="https://www.seascapemodels.org/spatial-analysis-in-r/spatial-analysis-in-r.html" target="_blank">
      <h4>Data wrangling and spatial analysis</h4>
      <hr>
      <p>A short course on mapping, GIS and spatial analysis in R from 2023</p>
  </a></li>
  <li class="r-resources"><a class="card-pubs" href="https://www.seascapemodels.org/structural-causal-models-tutorial/scm-tute.html" target="_blank">
    <h4>Intro to structural causal modelling</h4>
    <hr>
    <p>A short course structural causal modelling from 2023</p>
</a></li>
    <li class="r-resources"><a class="card-pubs" href="http://www.seascapemodels.org/rstats/2018/07/04/dataviz2018_notes.html" target="_blank">
        <h4>Dataviz in R</h4>
        <hr>
    <p> Notes from my award winning presentation </p>
    </a></li>

    <li class="r-resources"><a class="card-pubs" href="https://www.seascapemodels.org/predictive-ecological-models/" target="_blank">
        <h4>Predictive ecological models (available in English and Spanish)</h4>
        <hr>
        <p>A short course on using GLMs to make predictive spatial models in R (2025)</p>
    </a></li>
    <li class="r-resources"><a class="card-pubs" href="https://github.com/cbrown5/example-ecological-data" target="_blank">
        <h4>Example ecological data</h4>
        <hr>
        <p>Repo of open-access ecological data useful for teaching and model testing</p>
    </a></li>
    <li class="r-resources"><a class="card-pubs" href="http://www.seascapemodels.org/rstats/2020/02/19/spatial-gam-predictions.html" target="_blank">
        <h4>Spatial statistical prediction</h4>
        <hr>
        <p>Learn the basics of making spatial predictions with GAMs in R</p>
    </a></li>
    <li class="r-resources"><a class="card-pubs" href="http://www.seascapemodels.org/rstats/2018/01/19/intro-to-glms.html" target="_blank">
        <h4>General linear models: the basics</h4>
        <hr>
        <p>The maths behind linear models is easy to learn</p>
    </a></li>
</ul>

<div class="clearme"></div>

<p>Feel free to download and share the courses.
  You are welcome to use them for your own teaching,
  and I would love to hear about it. </p>

<p>Many people don't realise that the R programming language
  can work as a fully functioning GIS. It has several powerful
  advantages over many other GIS programs: you can program scripts
  for complete automation, it is relatively fast, and it is free.</p>

<p>The downside is that it is not easy to get started,
  particularly if you are not simultaneously a geo-statistical
   expert and a gun programmer. I am trying to make the
   jump easier for ecologists by providing courses and helpful
   blog posts here.</p>

<p>More code (including this webpage) is on my Github page.</p>

<h2>Rstats Blog</h2>

This is my blog for programming in R-stats (and occasionally other languages). I am interested in mapping, GIS, simulation modelling, statistics, optimization and visualisation, mainly for the biological sciences, but many of the applications are general.

<ul class="list_post">
{% for post in site.posts %}
{% if post.category contains 'Rstats' or post.category contains 'rstats'%}
  <li><a class="button_post bkg-1" href="{{ post.url }}">{{ post.title }} - <em>{{ post.date | date: "%d %b %Y" }}</em> </a></li>
    {% endif %}
  {% endfor %}
</ul>
