---
title: main
---
<!DOCTYPE html>
{% include head_element.html %}

<body>

{% include top_banner.html %}

{% include nav_bar.html %}
<div id="page_text">

<p>
    We work on bringing ecological complexity to the planning tools used to inform decision making for environmental problems. Read more about our <a href ="/Research/index.html#page_content"> research </a>, <a href ="/Rstats/index.html#page_content">R coding tools</a> or skip straight to Chris' blog below.
</p>

<div class = "image_projpage">
<p class = "clickablediv"> PhD position to work on marine conservation </p>
<img src="/Images/seagrass_crop.png" class="box_image">
<a href="/research/2016/06/01/phdposition.html">
   <span class="emptyspan"></span>
</a>
</div>

<div class = "image_projpage">
<p class = "clickablediv"> New paper on paradigms of connectivity in marine ecology </p>
<img src="/Images/sweetlips.jpg" class="box_image">
<a href="/research/2016/06/08/reef-connectivity.html">
   <span class="emptyspan"></span>
</a>
</div>
<div class = "image_projpage">
<p class = "clickablediv"> Conservation programming in R  </p>
<img src="/Images/shark.png" class="box_image">
<a href="/Rstats/Conservation_R.html">
   <span class="emptyspan"></span>
</a>

</div>
<div class="floatclear"></div>

<p> </p>

<h3> latest posts </h3>

<ul class="postlist_main">
  {% for post in site.posts limit:10 %}
    <div class = "posts_boxes">
    <h3 class = "posts_dates"> {{ post.date | date: "%d %b %Y" }} </h3>
    <h3 class = "posts_titles"> {{ post.title }} </h3>

    <a href="{{ post.url }}">
       <span class="emptyspan"></span>
    </a>
    </div>
  {% endfor %}
</ul>


<div id="Affiliation">
<h2> Contact </h2>
<p class="large_font">Dr. Christopher J. Brown</p>
<p>Research Fellow</p>
<p> <a href = "http://www.griffith.edu.au/environment-planning-architecture/australian-rivers-institute/members/dr-christopher-brown">
Australian Rivers Institute</a></p>
<p>Griffith University, Queensland, Australia</p>
<p><a href="mailto:chris.brown@griffith.edu.au"> Email Chris</a>  </p>
<p>Tweets: <a href = "https://twitter.com/bluecology"> @bluecology</a></p>
<p>Code (including this webpage): <a href="https://github.com/cbrown5" target="_blank"> Github</a>
</div>


{% include footer.html %}
</div>
</body>
</html>
