---
layout: research
title: News and Views
sitemap:
    priority: 0.7
    changefreq: 'monthly'
    lastmod: 2017-08-16
---

<div class="research-header">
    {% include nav.html %}
<img class="largeimage" src="/images/manta-lei.JPG"/>
<!--
  <img class="gif-bg" src="/images/output/animat.gif" alt="image of manta ray"/> -->
<h1 class="research-h1" id="ani1">our research: </h1>
<h1 class="research-h1" id="ani2">marine conservation </h1>
<h1 class="research-h1" id="ani3">fisheries management </h1>
<h1 class="research-h1" id="ani4">ecosystem modelling </h1>
</div>

<div class="container">

<h2>Research</h2>
<p> We work on balancing the conservation of marine ecosystems with human uses of the oceans.
   We aim to bring ecological complexity to the planning tools used to inform
decision making. </p>

<p> Read more about our <a href="/people.html"> research team</a> or our research on our <a href="/bluecology_blog.html">blog</a> or check out our <a href="/publications/html"> publications</a>. </p>

<h3> Research opportunities </h3>

<a href ="/research/2020/06/15/PhD-projects-available.html" class="button-ppl"
style="border-color:#10E7DC; border-style:solid;border-width:2px;">We are currently seeking applicants for
  PhD projects to study AI in marine conservation monitoring,
  the managment of Pacific tuna fisheries and their bycatch, and
  to develop science to inform recovery of marine conservation projects after the recent economic
  recession.</a>

<h3> Current projects</h3>

<h4> Multiple stressors of marine ecosystems</h4>
<div style="float:left;max-width:300px;">
<img src="/images/dp18-image.JPG" style="max-width:280px;">
</div>

<p> We are currently funded by the Australian Research Council
  (2018-2020) on a project <a href="http://www.seascapemodels.org/research/2017/11/10/interacting-impacts-grant.html)">
    Predicting interactive effects of multiple stressors on marine ecosystems</a>.
    We aim to develop new models that can make predictions reliable enough to inform management of ecosystems,
    and that are effective when data are limited. </p>
    <p> Existing approaches predict that the impacts of multiple stressors accumulate in an additive and linear way. Our proposed approach can predict that multiple
stressors interact to have non-linear effects on ecosystems.</p>

    <div class="clearme"></div>

 <h4> Global wetlands project </h4>
<img class="icon-image" src="/images/GLOW-logo-wide-01.png"/>
 <p>The <a href="https://globalwetlandsproject.org/">Global Wetlands Project</a> is
 a global research program looking at mapping the health of seagrass, mangroves
  and saltmarsh to inform on conservation actions.</p>

<h4> Improved monitoring and management of Pacific tuna fisheries</h4>

<p> We are helping The Nature Conservancy improve management of Pacific tuna fisheries, through
  the use of electronic monitoring systems. Our team is analysing trial monitoring data
  and demonstrating how it can be used to inform tuna management and mitigate bycatch. </p>

<h4> Economic environmental accounting</h4>

<p> We are currently funded by the National Environmental Science Program
  to develop <a href="https://www.nespnorthern.edu.au/projects/nesp/environmental-economic-accounting/"
  target = "_blank">Economic-Environmental accounts</a> for Northern Australia and Coastal ecosystems </p>

<h2>Project pages</h2>
<p> Visit the page of our projects to learn more, access code or download data. </p>
<ul class="list-cards">
    <li class="r-resources"><a class="card-pubs" href="http://www.seascapemodels.org/fishscape/" target="_blank">
        <h4>Fishscape</h4>
        <img class="icon-image" src="/images/fishscape.jpg"/>
    <p> A global database of fish-habitat associations </p>
    </a></li>
    <li class="r-resources"><a class="card-pubs" href="https://globalwetlandsproject.org/" target="_blank">
        <h4></h4>
        <img class="icon-image" src="/images/GLOW-logo-wide-01.png"/>
    <p> Mapping the health of seagrass, mangroves and saltmarsh globally to inform conservation actions</p>
    </a></li>

  </ul>
  <br>
  <div class="clearme"></div>

    <p> Our research applies both mathematical models and statistical analysis. </p>
    <p> We specialise in integrating ecologically complex models with tools for informing decision makers.
     We also work with large databases of the marine environment. </p>
    <p>We use the
    <a href="http://cran.r-project.org/" target="_blank">R programming language</a>
    and teach R to others.
    Chris' teaching resources are on this site and are <a href="/code.html">open-access</a>. </p>
<br>

<h2> Research blog </h2>
<ul class="list_post">
{% for post in site.posts %}
{% if post.category contains 'Research'%}
  <li><a class="button-ppl" href="{{ post.url }}">{{ post.title }} - <em>{{ post.date | date: "%d %b %Y" }}</em> </a></li>
    {% endif %}
  {% endfor %}
</ul>
