---
title: Research
---
<!DOCTYPE html>
{% include head_element.html %}

<head>

<style>
img#fish{
position:relative;
left:5px;
width:auto;
max-width:400px;
}
</style>
</head>

<body>

{% include top_banner.html %}

<div id="page_content">

{% include nav_bar.html %}

<div id="page_text">
<h2> Research </h2>

<div id="Research">
<h3> Fisheries and conservation </h3>
<p>
The global biodiversity crisis requires new science and approaches for sustainable
management of marine ecosystems. I have studied how fishing alters food-webs, <a href="http://onlinelibrary.wiley.com/doi/10.1111/cobi.12267/abstract?deniedAccessCustomisedMessage=&userIsAuthenticated=false">
sometimes
even improving the productivity of fisheries. </a> </p>
<p>
I also study how decision makers can
meet compromises between <a href="http://onlinelibrary.wiley.com/doi/10.1111/conl.12124/full">achieving productive fisheries </a> 
and <a href="http://www.esajournals.org/doi/abs/10.1890/130296#articleToolsNext"> conserving 
functioning ecosystems. </a> My recent work has focussed on the use of marine reserves
in the conservation of ecosystems and the trade-offs reserves create with fisheries. 
</p>
<p>
<img src ="/Images/sweetlips.jpg" alt="Banner Image" id="fish"/>
</p>
</div>

<div id="Modelling">
<h3> Climate change ecology </h3>

<p>
I am interested in how climate change has affected ocean ecosystems globally. We published
a comprehensive meta-analysis of 
<a href ="http://www.nature.com/nclimate/journal/v3/n10/full/nclimate1958.html">ocean climate change studies</a>
that was subsequently used by the <a href="https://www.ipcc.ch/report/ar5/wg2/"> 
Intergovernmental Panel on Climate Change</a> in their latest assessment report. We reviewed 
studies that had at least 2 decades of observations of marine life and found widespread 
impacts of climate change to marine life have already occurred. </p>
<p> I also research the ecological processes that will drive future responses of ecosystems to
climate change. These include <a href="http://www.nature.com/nature/journal/v507/n7493/abs/nature12976.html"> 
species range-shifts </a> and the <a href="http://onlinelibrary.wiley.com/doi/10.1111/j.1365-2486.2009.02046.x/abstract;jsessionid=8EE8C3C39395D4D3AF3DD245C86B2DF2.f02t04?deniedAccessCustomisedMessage=&userIsAuthenticated=false">
responses of food-webs to productivity change. </a>
 </p>
</div>

<div id="Affiliation">
<p class="large_font"> <a href="https://scholar.google.com.au/citations?user=1qG6yFMAAAAJ&hl=en"> 
Read more about publications on conservation, fisheries and climate change 
 </a></p>
</div>
</div>

<div class="posts">
<h2 class="posts_header"> Latest research </h2>
<ul class="postlist">
  {% for post in site.posts %}
    {% if post.categories contains 'res_posts' %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        {{ post.excerpt }}
      </li>
    {% endif %}
  {% endfor %}
</ul>
</div>
</div>
{% include footer.html %}

</body>
</html>