---
title: lidar
---
<!DOCTYPE html>

{% include head.html %}


<body>

{% include top_banner.html %}

<div id="page_content">
<div id="page_text">
<h3> LiDAR references </h3>
<p><a href = "https://www.deepreef.org/technology/52-lidar.html">Mapping the Great Barrier Reef</a></p>
<p><a href = "http://www.sciencedirect.com/science/article/pii/S0034425708000308">Lucas et al. 2008 Remote Sensing of Environment</a></p>
<p><a href = "http://www.sciencedirect.com/science/article/pii/S0034425714003708">Ackers et al. 2015 Remote Sensing of Environment</a></p>
<p><a href = "http://www.terrasolid.com/solutions/powerline_management.php">Commercial mapping of powerlines</a></p>
<p><a href = "https://www.google.com.au/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwiN2OKB_d7SAhWDqJQKHYcMD14QFggbMAA&url=http%3A%2F%2Fwww98.griffith.edu.au%2Fdspace%2Fbitstream%2Fhandle%2F10072%2F52483%2F87154_1.pdf%3Bsequence%3D1&usg=AFQjCNE2O85KWlZibBne8Zo8qzAgEOZ5MA">Olley et al. Report to Seqwater (links to a large pdf)</a></p>


<h3> What mode of LiDAR would you use to map:</h3>
<p></p>
<iframe src="http://www.strawpoll.me/embed_1/12553223" style="width:680px;height:342px;border:0;">Loading poll...</iframe>
<iframe src="http://www.strawpoll.me/embed_1/12553209" style="width:680px;height:342px;border:0;">Loading poll...</iframe>
<iframe src="http://www.strawpoll.me/embed_1/12553203" style="width:680px;height:342px;border:0;">Loading poll...</iframe>
<iframe src="http://www.strawpoll.me/embed_1/12553213" style="width:680px;height:342px;border:0;">Loading poll...</iframe>
<iframe src="http://www.strawpoll.me/embed_1/12560626" style="width:680px;height:384px;border:0;">Loading poll...</iframe></div>
<p></p>
</div>
{% include nav_bar.html %}

{% include footer.html %}

</body>
</html>
