---
title: People
---
<!DOCTYPE html>
{% include head_element.html %}


<body>

{% include top_banner.html %}

<div id="page_content">

{% include nav_bar.html %}

<div id="page_text">
<h2> People </h2>

<h3> Dr. Christopher Brown </h3>
<p>
Research Fellow <a href = "http://www.snap.is/groups/ridges-to-reef-fisheries/" target = "_blank">
Australian Rivers Institute</a> 
</p>

<h3> Viv Tulloch </h3>
<p>
PhD Candidate
</p>

<h3> Hsien-Yung Lin </h3>
<p>
PhD Candidate
</p>

</div>

</div>
{% include footer.html %}

</body>
</html>