
<div class="container" id="contact">
    <hr>
    <br>
    <h4> Contact: Chris Brown </h4>
    <p> <a class="button" href="mailto:chris.brown@griffith.edu.au" target="_top">Email</a>
    <a class="button" href="https://github.com/cbrown5" target="_blank" target="_top">Code on Github</a>
    </p>

 </div>

<div>
    <p><a class="button totop" href="/index.html">home</a></p>
       <p class="foot_text">
        Designed by <a href="http://cbrown5.github.io">Chris Brown</a>.  Source on <a href="https://github.com/cbrown5" target="_blank">Github</a>
       </p>
 </div>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
