
<div class="container" id="contact">
    <hr>
    <br>
    <h4 style="font-size:1.4rem;"> Contact: Chris Brown </h4>
    <p style="line-height:2.2rem;"> <a class="button bkg-2" href="mailto:c.j.brown@utas.edu.au" target="_top">Email</a>
    <a class="button bkg-2" href="https://twitter.com/bluecology" target="_top">Tweets</a>
    <a class="button bkg-2" href="https://www.youtube.com/channel/UCSH4ctGD-waPSI_4w6PlTBg" target="_top">YouTube</a>
    <a class="button bkg-2" href="https://github.com/cbrown5" target="_blank" target="_top">Code on Github</a>
    </p>

 </div>

<div>
    <p><a class="button totop" href="/index.html">home</a></p>
       <p class="foot_text">
        Designed by <a href="http://cbrown5.github.io">Chris Brown</a>.  Source on <a href="https://github.com/cbrown5" target="_blank">Github</a>
       </p>
 </div>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
