
<html prefix="og: http://ogp.me/ns#">
<head>
<meta name="viewport" content="width=device-width">
<meta charset="utf-8">
<meta property="twitter:site" content="@bluecology"/>
<meta property="twitter:creator" content="@bluecology"/>
<meta property="og:site_name" content="seascapemodels"/>
<meta property="og:description" content=""/>
<meta property="og:type" content="website"/>
<meta property="og:image" content="http://www.seascapemodels.org/Images/fish_image.png"/>
<meta property="og:url" content="http://www.seascapemodels.org">
<meta property="og:title" content="{{page.title}}"/>
<link rel="stylesheet"
  media="screen and (max-width: 700px)"
  type="text/css" href="/assets/css/narrow.css"/>

<link rel="stylesheet"
  media="screen and (min-width: 701px)"
  type="text/css" href="/assets/css/screen.css"/>

  <link href="/feed.xml" type="application/rss+xml" rel="alternate" title="Latest 10 blog posts (atom)" />

</head>
