<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>seascapemodels</title>
  <meta name="description" content="Megs research">
  <meta name="author" content="Chris Brown">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:300' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Exo+2:300,400' rel='stylesheet'>
<!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/framework.css">
  <!-- favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="icon"  type="image/jpg"    href="/images/fishfavicon.jpg">
</head>
