<div id = "container-nav">
 <a class="hamburger" href="#navbar">
     <div class="bar bar-1"></div>
     <div class="bar bar-2"></div>
     <div class="bar bar-3"></div>
 </a>
     <nav id="navbar">
       <ul class="navbar">
        <li><a class="button-menu" href="/index.html">home</a></li>
        <li><a class="button-menu" href="/research.html">research</a></li>
        <li><a class="button-menu" href="/people.html">people</a></li>
        <li><a class="button-menu" href="/bluecology_blog.html">blog</a></li>
        <li><a class="button-menu" href="/publications.html">publications</a></li>
        <li><a class="button-menu" href="/code.html">code</a></li>
        <li><a class="button-menu" href="#">&#8679</a></li>
       </ul>
     </nav>
</div>
