
<ul class = "menu">
      <a href ="/index.html"><li class = "menu_item">home</li></a>
      <a href ="/bluecology_blog/index.html"><li class = "menu_item">blog</li></a>
      <a href ="/Research/index.html#page_content"><li class = "menu_item">about</li></a>
      <a href ="https://scholar.google.com.au/citations?user=1qG6yFMAAAAJ&hl=en" target="_blank"><li class = "menu_item">publications</li></a>
      <a href ="/People/index.html#page_content"><li class = "menu_item">people</li></a>
      <a href ="/Rstats/index.html#page_content"><li class = "menu_item">code</li></a>
      <a href ="/emedia/index.html#page_content"><li class = "menu_item">e-media</li></a>
</ul>
