
<ul class = "menu">
      <li class = "menu_item"><a href ="/index.html">Home</a></li>
      <li class = "menu_item"><a href ="/Research/index.html#page_content">Research</a></li>
      <li class = "menu_item"><a href ="https://scholar.google.com.au/citations?user=1qG6yFMAAAAJ&hl=en" target="_blank">Publications</a></li>
      <li class = "menu_item"><a href ="/People/index.html#page_content">People</a></li>
      <li class = "menu_item"><a href ="/Rstats/index.html#page_content">Code</a></li>
</ul>
