
<ul class = "menu">
      <li class = "menu_item"><a href ="/index.html">Home</a></li>
      <li class = "menu_item"><a href ="/Research/index.html">Research</a></li>
      <li class = "menu_item"><a href ="https://scholar.google.com.au/citations?user=1qG6yFMAAAAJ&hl=en" target="_blank">Publications</a></li>
      <li class = "menu_item"><a href ="/People/index.html">People</a></li>
      <li class = "menu_item"><a href ="/Spatial/index.html">Spatial code</a></li>
      <li class = "menu_item"><a href ="/Rstats/index.html">Code</a></li>
      <li class = "menu_item"><a href ="/Collaborations/index.html">Collaborations</a></li>
</ul>