---
---

html, body {
   height: 100%;
   font-family: 'avenir', Arial, Helvetica, sans-serif;
}


/*
--------------
Banner
--------------
*/


#banner_wrap{
   position:relative;
   top: 10px;
   left:10px;
   width:100%;
   height:auto;
   background-position: center;
   z-index:-1;
   margin-bottom:20px;
}

#banner{
   position: relative;
   top: -10px;
   left: -20px;
}

#inner_banner{
   position:relative;
   top:10px;
}


h1 {
   font-size: 200%;
   text-align: left;
   color: black;
   position:relative;
   left:20px;
   width:100%;
   margin-bottom:5px;
}

p.banner{
    margin-top: 0px;
   font-size:100%;
   text-align:left;
   color: #99caff;
}

img.banner_image{
    max-width: 25%;
    float: right;
    position:relative;
    margin-right:30px;
    top:-30px;
}

/*
--------------
Body
--------------
*/

body {
   background-color: white;
   font-size: 24px;
   margin:50px;
   max-width:960px;
   margin-left:auto;
   margin-right:auto;
}

p {
   font-size: 80%;
   color: #1d3b77;
}

p.large_font{
   font-size:100%
   }

p.sub_line{
margin-bottom:0px;
}

h2, h3 {
   color:#142953;
   line-height:40px;
   margin-top:5px;
}

ol.order_list{
   font-size: 100%;
   color: #142953;
}

ul.postlist{
  font-size:100%;
  list-style-type: circle;
}

ul.postlist_main{
  font-size:100%;
  list-style-type: circle;
}

.reference{
   color:#0482EE;
}

.reference em{
   font-style:italic;

}

/* Code */

code {
 font-family:"Courier new", Courier, "Andale Mono", monospace;
 background-color:#EAEEEF;
 font-size:80%;
 width:20%;
 position:relative;
}

code.inline {
 background-color:#EAEEEF;
 font-size:80%;
 border-color:#cad4d6;
 border:solid;
 width:100%;
 border-width:0.2px;
}

pre{
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */

}

pre.r {
 position:relative;
 background-color:#EAEEEF;
 border-color:#cad4d6;
 border:solid;
 padding:5px;
 width:90%;
 border-width:0.2px;
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre.image_under{
  width:50%;   /* for when pre overlaps an image */
}

.code_box{
   position:relative;
   width:80%;
   background-color:#EAEEEF;
   margin:0;
   padding:0;
   border-color:#cad4d6;
   border:solid;
   width:90%;
   border-width:0.2px;
}

/*
--------------
Generic links
--------------
*/

a {
   text-decoration: none;
   color: #0482EE;
}

a:hover {
   color: #f6561b;
}

/*
--------------
images
--------------
*/


img.image_float{
  float:right;
  width:400px;
   height:auto;
   padding:10px;
}

img.image_float_wide{
  float:right;
  width:700px;
   height:auto;
   padding:10px;
}

img.small_image{
   width: 100px;
}

img.med_image{
   width: 190px;
}

img.image_normal{
   width: 50%;
}

img.image_people{
    float:left;
    padding:10px;
   width: 20%;
}


img.image_long{
    float:left;
    width:50%;
     height:auto;
     padding:10px;
}


img.wide_image{
  width:700px;
   height:auto;
   padding:10px;
}

div.image_caption{
    float:right;
    width:400px;
     height:auto;
     padding:10px;
     font-size:90%;
     font-style:italic;
     padding: 10px;
     padding-bottom: 5px;
     margin: 10px;
}

div.image_caption_long{
    float:right;
    width:50%;
     height:auto;
     padding:10px;
     font-size:90%;
     font-style:italic;
     padding: 10px;
     padding-bottom: 5px;
     margin: 10px;
}

div.image_caption_fixed{
    width:95%;
     height:auto;
     padding:10px;
     font-size:90%;
     font-style:italic;
     padding: 10px;
     padding-bottom: 5px;
     margin: 10px;
}

div.image_caption_ppl{
    width:95%;
     height:auto;
     padding:0px;
     font-size:100%;
     margin: 0px;
}

div.image_caption_wide{
    float:right;
    width:700px;
     height:auto;
     padding:10px;
     font-size:90%;
     font-style:italic;
     padding: 10px;
     padding-bottom: 5px;
     margin: 10px;
}

/*
--------------
Clickable div
--------------
*/

h3.posts_dates{
    color:#FFFFFF;
    background-color: #C0C0C0;
    width: 30%;
    line-height:25px;
    font-size: 90%;
}

h3.posts_titles{
    color:#142953;
    line-height:25px;
    font-size: 110%;
}

.emptyspan{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;
}

div.posts_boxes{
    max-width:95%;
    width:auto;
     padding:10px;
     font-size:90%;
     border-style: solid;
     position:relative;
     margin:2px;
     border-width: 1px;
     border-color: #D3D3D3;
     background: #ECFAFE;
     line-height: 5px;
    background-image: -webkit-linear-gradient(top, #FFFFFF, #e6f2ff);
    background-image: -moz-linear-gradient(top, #FFFFFF, #e6f2ff);
    background-image: -ms-linear-gradient(top, #FFFFFF, #e6f2ff);
    background-image: -o-linear-gradient(top, #FFFFFF, #e6f2ff);
    background-image: linear-gradient(to bottom, #FFFFFF, #e6f2ff);
}

div.image_projpage{
    width:250px;
    height: 250px;
     padding: 10px;
     font-size:90%;
     float:left;
     border-style: solid;
     position:relative;
     margin:2px;
     border-radius: 25px;
     border-width: 1px;
     border-color: #D3D3D3;
     background-image: -webkit-linear-gradient(top, #FFFFFF, #e7f8fd);
     background-image: -moz-linear-gradient(top, #FFFFFF, #e7f8fd);
     background-image: -ms-linear-gradient(top, #FFFFFF, #e7f8fd);
     background-image: -o-linear-gradient(top, #FFFFFF, #e7f8fd);
     background-image: linear-gradient(to bottom, #FFFFFF, #e7f8fd);
}

div:hover.posts_boxes{
    border-color:  #f6561b;
}

img.box_image{
    max-width: 150px;
}

div.floatclear{
    clear:both;
}

div:hover.image_projpage{
    border-color:  #f6561b;
}

p.clickablediv{
font-weight: bolder;
font-size: 105%;

}

/*
--------------
Navigation bar
--------------
*/

ul.menu{
  list-style-type: none;
   margin: 0;
   padding: 5px;
   border-bottom-style: solid;
   border-color: #6176A0;
}

li.menu_item{
   display: inline;
   text-decoration: none;
   padding: 15px;
   margin: 1px;
   font-size:80%;
}

li.menu_item a:hover{
   display: inline;
   color:#f6561b;
   padding: 5px;
   margin: 1px;
   border-radius: 10px;
}

/*
--------------
Footer
--------------
*/

#footer {
   background-color:#F9FDFF;
   padding-top:0px;
   padding-left:1px;
   padding-right:1px;
   padding-bottom:2px;
   border-radius: 20px;
   margin:20px;
   margin-bottom:50px;
   font-size:90%;
   position:relative;
   top:50px;
   text-align: center;
}

#footer_text{
  position:relative;
  top:15px;
}


/*
--------------
Layout for home page
--------------
*/

#Research {
   line-height:25px;
   height:100%;
   width:50%;
   float:left;
   padding:5px;
   margin-top:20px;
   padding-right:20px;
}

#Modelling {
   line-height:25px;
   height:100%;
   width:40%;
   float:left;
   padding-left:20px;
   padding-right:0;
   margin-right:0;
   border-right:0;
   border-left:solid;
   margin-top:20px;
   border-color:#6176A0;
   margin-bottom:20px;
}

#Affiliation {
   clear:both;
   line-height:15px;
   width:95%;
   padding-left:20px;
   padding-right:0;
   margin-right:0;
   border-right:0;
   border-top:solid;
   margin-top:5px;
   margin-bottom:5px;
   border-color: #6176A0;
}

.posts, .posts_main, .posts_blog{
   clear:both;
   text-align:left;
   margin-top:50px;
   padding:20px;
   border-style:solid;
   border-color:#f6561b;
   border-radius:20px;

}

.posts_blog{
    border-style:none;
}


.posts_main{
    width:80%;
}


.posts_header{
  margin:0;
}


/*
--------------
Layout normal
--------------
*/
#page_text {
   line-height:30px;
   height:100%;
   width:98%;
   padding-left:20px;
   padding-right:0;
   margin-right:0;
   margin-top:20px;
}
