---
category: res_posts
title: "Competitive ECRs"
published: false
---

<!DOCTYPE html>
{% include head_element.html %}

<body>
{% include top_banner.html %}

<div id="page_content">

{% include nav_bar.html %}

<div id="page_text">
<h2> A frank account of a competition among early career researchers and why we need to keep it in check </h2>

<p>
I have a natural tendancy to be competitive. The problem is, our careers as scientists, amplify that tendency. Like many ECRs (early career researchers) most of my friends are also colleagues. We have to apply for the same funding, same jobs and sometimes even compete to publish similar ideas first. I am on my second postdoc now and beginning to realise that my peers are going to be my peers probably for the rest of my career. That may seem obvious, but I never really thought about it before. So many people came to do PhDs in the lab I was in then disappeared to other careers. However, now I am further along, I can see who will likely be staying on and who my future peers will be.
</p>
<p>
    So, make friends with your peers and don't be <em>too</em> competitive with them.
</p>
<p>
Competition can be a useful motivational force, but it can also be source of anxiety. Over the years, I have heard the phrase 'keep your friends close, but your enemies closer' too many times. I think this is a very negative and counter-productive way to approach your career. A phrase, my PhD supervisor always emphasised, that I like better is 'work with people you like'. Let me illustrate that with an anecdote.
</p>
<p>
 I recently published an <a href="http://onlinelibrary.wiley.com/doi/10.1111/cobi.12267/full" target="_blank">article</a> with a long-term friend of mine, who was a PhD student (now a postdoc) at the time. Now, other articles I published in the same year have 50 times as many citations, but of all my articles I am most proud of this one. Why? The significant thing for me about this article is that we are the only two authors, no supervisors or senior collaborators. For me, this article signifies the beginning of a long collaboration. For the first time, I can see my career stretching out in front of me and imagine working on my own ideas, with peers, and maybe even become leaders in our fields some day. I hope, the friend and I will be still working together well after all our supervisors and mentors have retired.
</p>
<p>
 We have been good friends for over a decade, but we had our ups and downs. At one period, we were working particularly close together, and, as young men tend to be, I became very competitive with him. However, we remained friends (to his credit).
</p>
<p>
So my message is, be nice to your peers and not too competitive. They may be around for the rest of your career. Friendly and trusting collaborations are the most satisfying, and the ones you will look back on positively.
</p>

<p>
Note: I am not writing this in response to any recent event. It is just something I have been thinking about for a while.
</p>

</div>
</div>
{% include footer.html %}

</body>
