---
category: Rstats Rspatial
title: "Making maps on Google Earth with R"
---

<!DOCTYPE html>
{% include head_element.html %}


<body>
{% include top_banner.html %}

<div id="page_content" class="codepage">

{% include nav_bar.html %}

<div id="page_text">
  <h2>Making google maps</h2>
<p><img class = "image_float" src ="/Images/google_seagrass.png" alt="Banner Image"/></p>
  <p>One of the fun things you can do with maps in R is make rasters and shapes that
   plot on Google Earth. All you really need to do is convert your spatial data to lon-lat
   coordinates then use one of the KML packages to save the layer as a KML, which can then
   be viewed in Google Earth. Here is a screen shot of an example from data in my
   <a href="https://sites.google.com/site/seascapemodelling/home/r-code/r-spatial">
   R spatial course</a>.</p>

<p>Here is how to do it for a raster.
Here we export the seagrass raster data (<a href="">available here</a>)
 from my R Spatial Course as KML. You will need the <code class="inline">plotKML</code>
  <a href="http://cran.r-project.org/web/packages/plotKML/index.html">package</a>
  and its dependencies.</p>
<h3>First up load the data</h3>
<pre class="r image_under">
<code class="box">library(raster)
library(rgdal)
library(plotKML)
rseagrass <- raster('raster seagrass.grd')
</code></pre>

<h3>Then convert to lon-lat</h3>
<pre class="r">
<code>rsg.ll <- projectRaster(rseagrass, crs = "+proj=longlat +ellps=WGS84", method = 'ngb')
</code></pre>
<p>We are using the nearest neighbour (<code class="inline">'ngb'</code>) interpolation here, because the seagrass raster is categorical (0/1 for absence/presence of seagrass).</p>
<h3>Finally pick some colours and save as a KML</h3>
<pre class="r"><code>sgcols &lt;- c('lightblue', 'seagreen')
KML(rsg.ll, 'Seagrass_MoretonBay', col = sgcols)</code></pre>

</div>
</div>
{% include footer.html %}

</body>
</html>
