---
category: res_posts
title: "Tall Young Poppy Award"
published: true
---

<!DOCTYPE html>
{% include head_element.html %}

<body>
{% include top_banner.html %}

<div id="page_content">

{% include nav_bar.html %}

<div id="page_text">
<h2> Award for Scientific Research and Communcation </h2>

<p>
I am honoured to receive a <a href="https://www.youtube.com/watch?v=PaLTh6YjRQw&feature=youtu.be">Young Tall Poppy Award for Scientific Research and Communication.</a>
</p>
<p>
    You can read our press release below.
</p>
<p>
<img src ="/Images/cod_MarkPriest.JPG" alt="seagrass" class="image_float"/>
</p>
<p>
Research seeking solutions to the potential conflict between marine ecosystems and commercial and recreational fishing last night (August 20) earned Griffith University's Dr Chris Brown a 2015 Young Tall Poppy Science Award.</p>
<p>
    An initiative of the Australian Institute of Policy and Science, awards were presented to young researchers by Queensland's Minister for Science and Innovation, The Honourable Ms Leeanne Enoch MP, as part of the annual Science in Parliament program in Brisbane.
</p>
<p>
    A member of Griffith's world-leading Australian Rivers Institute, Dr Brown's research is focused on striking a sustainable balance between the importance of fish for human consumption as well as to the health of marine ecosystems.
</p>
<p>
    "Fishing is regulated in two ways: marine parks, which protect ecosystems; and catch limits, which protect fisheries," says Dr Brown.

</p>
<p>
    "For instance, on the Great Barrier Reef, which supports about 63,000 jobs, there are numerous areas where fishing is banned and there are bag limits for recreational fishers."

</p>
<p>
"Parks are great because they ensure a few places are near pristine and have many fish. However, the problem is that parks don't protect fish outside their boundaries."

</p>
<p>
"In fact, extensive parks can actually concentrate fishing in outside areas."
</p>

<p>
    Dr Brown's research shows that bag limits are just as important for healthy ecosystems because they apply everywhere and thus help protect the health of ecosystems outside park boundaries.

</p>
<p>
    "The right combination of bag limits and parks can ensure we have healthy ecosystems and fish to catch," says Dr Brown.

</p>
<p>
"In other words, ecosystems can have their fish, and we can eat them too."
</p>

<p>
More details on the research:</p>
<p class = "reference">
<a href = "http://www.esajournals.org/doi/abs/10.1890/130296" class="reference" target="_blank">Trade-offs between fisheries and the conservation of ecosystem function are defined by management strategy (2014) Brown, Mumby <em>Frontiers in Ecology and the Environment</em></a>
</p>



</div>
</div>
{% include footer.html %}

</body>
