---
title: Spatial
---
{% include head.html %}


<body>

{% include top_banner.html %}

<div id="page_content">

{% include nav_bar.html %}


<div id="page_text">
<h2> Spatial analysis in R </h2>

<p>
The R programming can work as a fully functioning GIS. It has several powerful advantages
over many other GIS programs: you can program scripts for complete automation, it is relatively fast,
and it is free.

<div class = "image_caption">
<img src ="/Images/vocc_world_map.jpg" alt="world map" class="image_float"/>
<p>
An image of the <a href ="https://www.sciencemag.org/content/334/6056/652.abstract" target="_blank">velocity of climate change</a> over the last several decades, made using R
</p>
</div>
<br>

<p>
The downside is that it is not easy to get started, particularly if you are not simultaneously
a geo-statistical expert and a gun programmer. I am trying to make the jump
 easier for ecologists by providing <a href = "/Rstats/index.html">courses</a> and helpful blog posts here. </p>
 <br>
<p>
    At the moment I have one course on <a href = "{% post_url 2015-06-22-R_Spatial_course %}">spatial analysis in R</a>, and more courses for R basics <a href = "/Rstats/index.html">here</a>.
</p>
</div>

<div class="posts">
<h2 class="posts_header"> Coding blog </h2>
<ul class="postlist">
  {% for post in site.posts %}
      {% if post.categories contains 'rspatial' %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
        {% endif %}
  {% endfor %}
</ul>
</div>
</div>
{% include footer.html %}

</body>
</html>
